---
http_interactions:
- request:
    method: get
    uri: http://www.carqueryapi.com/api/0.3?cmd=getModels&make=ford
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - http://www.carqueryapi.com/api/0.3/?cmd=getModels&make=ford
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>301 Moved Permanently</title>
        </head><body>
        <h1>Moved Permanently</h1>
        <p>The document has moved <a href="http://www.carqueryapi.com/api/0.3/?cmd=getModels&amp;make=ford">here</a>.</p>
        <hr>
        <address>Apache/2.2.22 (EL) Server at www.carqueryapi.com Port 80</address>
        </body></html>
  recorded_at: Sat, 05 Oct 2013 12:34:27 GMT
- request:
    method: get
    uri: http://www.carqueryapi.com/api/0.3/?cmd=getModels&make=ford
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "\r\n{\"Models\":[{\"model_name\":\"021 C\",\"model_make_id\":\"ford\"},{\"model_name\":\"12
        M\",\"model_make_id\":\"ford\"},{\"model_name\":\"17\",\"model_make_id\":\"ford\"},{\"model_name\":\"17M\",\"model_make_id\":\"ford\"},{\"model_name\":\"2000\",\"model_make_id\":\"ford\"},{\"model_name\":\"24.7\",\"model_make_id\":\"ford\"},{\"model_name\":\"427\",\"model_make_id\":\"ford\"},{\"model_name\":\"49\",\"model_make_id\":\"ford\"},{\"model_name\":\"Aerostar\",\"model_make_id\":\"ford\"},{\"model_name\":\"Anglia\",\"model_make_id\":\"ford\"},{\"mo[...]
